# <span style="color:blue"> MBA em Ciência de Dados</span>
# <span style="color:blue">Programação para Ciência de Dados</span>

## <span style="color:blue">Pandas Parte III - Avaliação </span>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

Os exercícios a seguir farão uso do arquivo <font style="font-family: monaco">sales1000.csv</font> disponível para download no moodle.

O arquivo <font style="font-family: monaco">sales1000.csv</font> possui informações relativas à venda de produtos. As colunas abaixo são de particular importância para solução dos exercícios:
- *Country*: país da venda
- *Item Type*: tipo do produto vendido no país
- *Units Sold*: quantidade vendida
- *Unit Price*: preço de venda
- *Unit Cost*: preço de custo
- *Total Profit*: lucro total

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('sales1000.csv')
df.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Libya,Cosmetics,Offline,M,10/18/2014,686800706,10/31/2014,8446,437.20,263.33,3692591.20,2224085.18,1468506.02
1,North America,Canada,Vegetables,Online,M,11/7/2011,185941302,12/8/2011,3018,154.06,90.93,464953.08,274426.74,190526.34
2,Middle East and North Africa,Libya,Baby Food,Offline,C,10/31/2016,246222341,12/9/2016,1517,255.28,159.42,387259.76,241840.14,145419.62
3,Asia,Japan,Cereal,Offline,C,4/10/2010,161442649,5/12/2010,3322,205.70,117.11,683335.40,389039.42,294295.98
4,Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/2011,645713555,8/31/2011,9845,9.33,6.92,91853.85,68127.40,23726.45

### Exercício 1)
Agrupe os elementos da base de dados armazenada no arquivo <font style="font-family: monaco">sales1000.csv</font> de acordo com os países.
Quantos produtos diferentes o país 'Japan' vende?

a) 8<br>
b) 7<br>
c) 6<br>
d) 5

In [4]:
paises = df.groupby('Country')
itens_japan = paises.get_group('Japan')['Item Type']
print(itens_japan)
print('\nItems distintos:', itens_japan.nunique())

3             Cereal
168        Beverages
342        Baby Food
398        Cosmetics
536        Cosmetics
555    Personal Care
627             Meat
901        Cosmetics
Name: Item Type, dtype: object

Items distintos: 6

### Exercício 2)
Considerando todas as vendas de um país, qual o país com o menor lucro total?

a) Cameroon<br>
b) Japan<br>
c) Australia<br>
d) Cuba

In [11]:
lucro_pais = paises['Total Profit'].sum()
print(lucro_pais.head())
print('\nPais com menor lucro:', lucro_pais.idxmin())

Country
Afghanistan    1365407.10
Albania        3143068.34
Algeria        2235989.24
Andorra        2143268.87
Angola         4541144.42
Name: Total Profit, dtype: float64

Pais com menor lucro: Cameroon

### Exercício 3)
Quais países vendem mais que sete produtos distintos? 

a) Cuba e Belarus<br>
b) Cuba<br>
c) Cuba e Australia<br>
d) Romania e Angola

In [5]:
produtos_pais = paises['Item Type'].nunique()
print(produtos_pais.head())
produtos_pais_maior7 = produtos_pais[produtos_pais > 7]
print('\nPaises que vendem mais que sete produtos distintos:', ' e '.join(produtos_pais_maior7.index))

Country
Afghanistan    4
Albania        6
Algeria        5
Andorra        6
Angola         7
Name: Item Type, dtype: int64

Paises que vendem mais que sete produtos distintos: Belarus e Cuba

### Exercício 4)
Qual o país com a maior diferença entre a maior quantidade e a menor quantidade de produtos vendidos? Por exemplo, 'Tonga' vende os seguintes quantidades de produtos:
```python
Household  8635
Beverages  9367
Meat       9633
Fruits     7124
Meat       3499
```
Portando, a diferença entre a maior e a menor quantidade de produtos vendidos é $$9633-3499=6134$$ Qual o país com a maior diferença?

a) Tonga<br>
b) Cape Verde<br>
c) Romania<br>
d) Cuba

In [9]:
paises = df.groupby('Country')
diff_produtos = paises['Units Sold'].agg(lambda x : x.max()-x.min())
print('Pais com maior diferença:', diff_produtos.idxmax())

Pais com maior diferença: Cape Verde

### Exercício 5)
O lucro de um produto é a diferença entre o preço de venda e o de custo. Qual o produto que fornece o menor lucro médio?

a) Baby Food<br>
b) Fruits<br>
c) Household<br>
d) Cosmetics

In [34]:
produtos = df.groupby('Item Type')
produtos = produtos.apply(lambda x : (x['Unit Price'] - x['Unit Cost']).mean())
print('Produto com o menor lucro:', produtos.idxmin())

Produto com o menor lucro: Fruits