# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte II - Avaliação</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

Os exercícios a seguir farão uso dos arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> disponíveis para download no sistema _Moodle_.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# Os comandos abaixo são apenas para modificar como as informações serão apresentadas no notebook

# mostra no máximo 50 colunas
pd.set_option('display.max_columns', 50)

# aumenta o tamanho das figuras geradas pelo matplotlib
plt.rcParams['figure.figsize'] = (10.0, 8.0)

### Exercício 1)
Carregue os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font>, armazenando-os em variáveis tipo DataFrame chamadas `escolas` e `enem` respectivamente. 
Os arquivos <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas CODESC e CODIGO DA ENTIDADE, respectivamente.

Quantas escolas cujo código aparece no arquivo <font style="font-family: monaco">ENEM2015.csv</font> tambem aparecem em <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font>?

a) 1243 escolas<br>
b) 1043 escolas <br>
c) 10243 escolas <br>
d) 1003 escolas

**Dica**: Utilize o método <font color='blue'>isin</font> do <font color='blue'>pandas</font>.

In [6]:
escolas = pd.read_csv('ESC2013_RMSP_CEM.csv')
enem = pd.read_csv('ENEM2015.csv')

In [43]:
enem = enem.rename(columns={'CODIGO DA ENTIDADE':'CODESC'})
escolasenem = pd.merge(enem,escolas,on='CODESC')
#print(escolasenem.duplicated().sum(axis=0))
print("Escolas e Enem:",escolasenem.shape[0])
#print(escolasenem)

Escolas e Enem: 1243

### Exercício 2)

Verifique quantos valores faltantes existem em cada um dos DataFrames:

a) `escolas`: 776346 valores faltantes; `enem`: 0 valores faltantes <br>
b) `escolas`: 776346 valores faltantes; `enem`: 1 valor faltante <br>
c) `escolas`: 7346 valores faltantes; `enem`: 103 valores faltantes <br>
d) `escolas`: 7346 valores faltantes; `enem`: 10 valores faltantes

In [55]:
print("Escolas:",escolas.isna().sum(axis=0).sum(),"valor(es) faltante(s);")
print("Enem:",enem.isna().sum(axis=0).sum(),"valor(es) faltante(s);")

Escolas: 776346 valor(es) faltante(s);
Enem: 1 valor(es) faltante(s);
CODESC                     0
NUMERO DE PARTICIPANTES    0
Classificacao              1
dtype: int64

### Exercício 3)
No DataFrame `escolas`, qual o rótulo da coluna com o maior número de valores faltantes.

a) LP05_AF<br>
b) MAT05_AF <br>
c) IDEB05AF <br>
d) COD_SC

__Dica__: Utilize uma combinação dos comandos <font color='blue'>isna</font>, <font color='blue'>sum</font> e <font color='blue'>idxmax</font> do <font color='blue'>pandas</font>

In [53]:
print("Campo com maior número de valores faltantes em 'ESCOLA':", escolas.isna().sum(axis=0).idxmax(),"-",escolas.isna().sum(axis=0).max())

Campo com maior número de valores faltantes em 'ESCOLA': COD_SC - 10937

### Exercício 4)

O DataFrame `enem` possui valores faltantes na coluna 'Classificacao'. Preencha os valores faltantes com o valor da 'moda' da coluna. Qual o valor da moda utilizado para preencher os valores faltantes?

a) 1<br>
b) 2<br>
c) 3<br>
d) 4

In [61]:
modas = enem.mode()
enem_mod = enem.fillna(modas.iloc[0])
print(modas.iloc[0])

CODESC                     35000139.0
NUMERO DE PARTICIPANTES          11.0
Classificacao                     2.0
Name: 0, dtype: float64

### Exercício 5)
Os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas _CODESC_ e _CODIGO DA ENTIDADE_, respectivamente.

Busque na coluna 'NUMERO DE PARTICIPANTES' do DataFrame `enem` o código das escolas com o menor número de participantes no ENEM. Utilizando o código obtido, imprima os nomes de tais escolas (armazenado na coluna 'NOMEESC' do DataFrame `escolas`). Uma das escolas com o menor número de participantes é:

a) TEOTONIO ALVES PEREIRA<br>
b) THAMARA CORREA DE MATOS<br>
c) BRASILIO FLORES DE AZEVEDO<br>
d) OSWALDO SAMMARTINO

In [126]:
escolasenem[escolasenem['CODESC'].isin(enem.sort_values('NUMERO DE PARTICIPANTES')[:50]['CODESC'].tolist())][['NOMEESC','NUMERO DE PARTICIPANTES']]

                                        NOMEESC  NUMERO DE PARTICIPANTES
110                      TEOTONIO ALVES PEREIRA                       10
326                          CENTENARIO COLEGIO                       10
371                              BRASIL COLEGIO                       10
380    NOSSA SENHORA DO SAGRADO CORACAO COLEGIO                       10
416                      ASSUNCAO COLEGIO EIEFM                       10
447                         JEAN PIAGET COLEGIO                       10
574          MANOEL MARCONDES GALVAO UNIDADE II                       10
582                            HARMONIA COLEGIO                       10
584          PRESTES MAIA INSTITUTO EDUCACIONAL                       10
593                   EUCLYDES DA CUNHA COLEGIO                       10
598               COOPERATIVISTA DE POA COLEGIO                       10
624                      PAULO DE TARSO COLEGIO                       10
632                          GRAN LEONE COLEGIO                       11
661                       COSTA ZAVAGLI COLEGIO                       10
670                        BRASIL JOVEM COLEGIO                       11
673                 GUARULHOS COLEGIO INTEGRADO                       10
674                   CALIFORNIA JUNIOR COLEGIO                       10
677        ALIADO COLEGIO UNIDADE JOAO PAULO II                       11
698            ANTOINE DE SAINT EXUPERY COLEGIO                       11
726                  SAO DOMINGOS SAVIO COLEGIO                       11
740                         RUI BARBOSA COLEGIO                       10
748                             MOSAICO COLEGIO                       11
770                VISCONDE DE ITABORAI COLEGIO                       11
780                          MARCO ZERO COLEGIO                       10
784                         BRASILIENSE COLEGIO                       11
826     SANTA MARIA DE NAZARE COLEGIO UNIDADE I                       11
828                        PASSO SEGURO COLEGIO                       11
838                          ALMA MATER COLEGIO                       11
848                                 ABC COLEGIO                       11
856                             ARCADIA COLEGIO                       10
869                              GENESE COLEGIO                       11
876                          SANTA RITA COLEGIO                       10
881                       AUGUSTO SILVA COLEGIO                       10
890                            FUTURO ESCOLA DO                       10
896               ANDRADE INSTITUTO EDUCACIONAL                       10
905                            ITAQUERA COLEGIO                       11
908                                CETS COLEGIO                       11
913                             CULTURA COLEGIO                       11
928      CORACAO DE MARIA INSTITUTO EDUCACIONAL                       11
930                        SANTA ISABEL COLEGIO                       11
954                            POLIEDRO COLEGIO                       10
967                            ADVENTUS COLEGIO                       10
1051                        CASTANHEIRAS ESCOLA                       11
1093  DOM BOSCO SANTO ANDRE UNIDADE III COLEGIO                       10
1095       ALEXANDRE DUMAS COMPLEXO EDUCACIONAL                       10
1130                             FUTURA COLEGIO                       10
1141                      SAINT GERMAIN COLEGIO                       11
1152                         SHANGRI LA COLEGIO                       10
1172                             VIVARE COLEGIO                       10
1173                            CRIACAO COLEGIO                       10