# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Pandas Parte II - Avaliação</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**
---

Os exercícios a seguir farão uso dos arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> disponíveis para download no sistema _Moodle_.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Os comandos abaixo são apenas para modificar como as informações serão apresentadas
# no notebook

# mostra no máximo 50 colunas
pd.set_option('display.max_columns', 50)

# aumenta o tamanho das figuras geradas pelo matplotlib
plt.rcParams['figure.figsize'] = (10.0, 8.0)

### Exercício 1)
Carregue os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font>, armazenando-os em variáveis tipo DataFrame chamadas `escolas` e `enem` respectivamente. 
Os arquivos <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas CODESC e CODIGO DA ENTIDADE, respectivamente.

Quantas escolas cujo código aparece no arquivo <font style="font-family: monaco">ENEM2015.csv</font> tambem aparecem em <font style="font-family: monaco">ESC2013_RMSP_CEM.csv</font>?

a) 1243 escolas<br>
b) 1043 escolas <br>
c) 10243 escolas <br>
d) 1003 escolas

**Dica**: Utilize o método <font color='blue'>isin</font> do <font color='blue'>pandas</font>.

In [3]:
escolas = pd.read_csv("ESC2013_RMSP_CEM.csv")
enem = pd.read_csv("ENEM2015.csv")

print(f'escolas {escolas.shape}\nenem2015 {enem.shape}')
enem.head()

escolas (10937, 136)
enem2015 (1243, 3)

   CODIGO DA ENTIDADE  NUMERO DE PARTICIPANTES  Classificacao
0            35000139                      142            1.0
1            35000140                       79            1.0
2            35000267                      131            2.0
3            35000280                      146            1.0
4            35000334                       95            1.0

In [14]:
comum = escolas['CODESC'].isin(enem['CODIGO DA ENTIDADE'])
comum.sum()

1243

## 1243 escolas

### Exercício 2)

Verifique quantos valores faltantes existem em cada um dos DataFrames:

a) `escolas`: 776346 valores faltantes; `enem`: 0 valores faltantes <br>
b) `escolas`: 776346 valores faltantes; `enem`: 1 valor faltante <br>
c) `escolas`: 7346 valores faltantes; `enem`: 103 valores faltantes <br>
d) `escolas`: 7346 valores faltantes; `enem`: 10 valores faltantes

In [19]:
print(f'Missing values em escolas: {escolas.isna().sum().sum()}')
print(f'Missing values em enem: {enem.isna().sum().sum()}')

Missing values em escolas: 776346
Missing values em enem: 1

## escolas: 776346 valores faltantes; enem: 1 valor faltante

### Exercício 3)
No DataFrame `escolas`, qual o rótulo da coluna com o maior número de valores faltantes.

a) LP05_AF<br>
b) MAT05_AF <br>
c) IDEB05AF <br>
d) COD_SC

__Dica__: Utilize uma combinação dos comandos <font color='blue'>isna</font>, <font color='blue'>sum</font> e <font color='blue'>idxmax</font> do <font color='blue'>pandas</font>

In [59]:
print(f'rótulo da coluna com o maior número de valores faltantes é {escolas.isna().sum(axis=0).idxmax()} com {escolas.isna().sum(axis=0).max()} valores faltantes')

rótulo da coluna com o maior número de valores faltantes é COD_SC com 10937 valores faltantes

## COD_SC

### Exercício 4)

O DataFrame `enem` possui valores faltantes na coluna 'Classificacao'. Preencha os valores faltantes com o valor da 'moda' da coluna. Qual o valor da moda utilizado para preencher os valores faltantes?

a) 1<br>
b) 2<br>
c) 3<br>
d) 4

In [24]:
moda = enem.mode()
print(moda)

      CODIGO DA ENTIDADE  NUMERO DE PARTICIPANTES  Classificacao
0               35000139                     11.0            2.0
1               35000140                      NaN            NaN
2               35000267                      NaN            NaN
3               35000280                      NaN            NaN
4               35000334                      NaN            NaN
5               35000413                      NaN            NaN
6               35000486                      NaN            NaN
7               35000553                      NaN            NaN
8               35000620                      NaN            NaN
9               35000668                      NaN            NaN
10              35000673                      NaN            NaN
11              35000711                      NaN            NaN
12              35000848                      NaN            NaN
13              35000875                      NaN            NaN
14              35000905                      NaN            NaN
15              35000917                      NaN            NaN
16              35000929                      NaN            NaN
17              35000930                      NaN            NaN
18              35000942                      NaN            NaN
19              35000954                      NaN            NaN
20              35000978                      NaN            NaN
21              35001036                      NaN            NaN
22              35001156                      NaN            NaN
23              35001168                      NaN            NaN
24              35001247                      NaN            NaN
25              35001259                      NaN            NaN
26              35001284                      NaN            NaN
27              35001363                      NaN            NaN
28              35001375                      NaN            NaN
29              35001569                      NaN            NaN
...                  ...                      ...            ...
1213            35915749                      NaN            NaN
1214            35915750                      NaN            NaN
1215            35917011                      NaN            NaN
1216            35917515                      NaN            NaN
1217            35918659                      NaN            NaN
1218            35918805                      NaN            NaN
1219            35919056                      NaN            NaN
1220            35921051                      NaN            NaN
1221            35921105                      NaN            NaN
1222            35921130                      NaN            NaN
1223            35921385                      NaN            NaN
1224            35921543                      NaN            NaN
1225            35922924                      NaN            NaN
1226            35923254                      NaN            NaN
1227            35923333                      NaN            NaN
1228            35923369                      NaN            NaN
1229            35923448                      NaN            NaN
1230            35923461                      NaN            NaN
1231            35923473                      NaN            NaN
1232            35923795                      NaN            NaN
1233            35923886                      NaN            NaN
1234            35923904                      NaN            NaN
1235            35923941                      NaN            NaN
1236            35924039                      NaN            NaN
1237            35924398                      NaN            NaN
1238            35925603                      NaN            NaN
1239            35925639                      NaN            NaN
1240            35925834                      NaN            NaN
1241            35925871                      NaN            NaN
1242            35990012                      NaN            NaN

[1243 rows x 3 columns]

In [26]:
print(moda.loc[0,'Classificacao'])
enem=enem.fillna(moda.loc[0,'Classificacao'])

2.0

## o valor da moda utilizado para preencher os valores faltantes 2

### Exercício 5)
Os arquivos <font style="font-family: monaco">ESC2013\_RMSP\_CEM.csv</font> e <font style="font-family: monaco">ENEM2015.csv</font> possuem em comum o código das escolas, os quais estão armazenados nas colunas _CODESC_ e _CODIGO DA ENTIDADE_, respectivamente.

Busque na coluna 'NUMERO DE PARTICIPANTES' do DataFrame `enem` o código das escolas com o menor número de participantes no ENEM. Utilizando o código obtido, imprima os nomes de tais escolas (armazenado na coluna 'NOMEESC' do DataFrame `escolas`). Uma das escolas com o menor número de participantes é:

a) TEOTONIO ALVES PEREIRA<br>
b) THAMARA CORREA DE MATOS<br>
c) BRASILIO FLORES DE AZEVEDO<br>
d) OSWALDO SAMMARTINO

In [56]:
min = enem['NUMERO DE PARTICIPANTES'].min()
cod_ent = enem['NUMERO DE PARTICIPANTES'] == min
# print(escolas[escolas['CODESC'].isin(enem[cod_ent]['CODIGO DA ENTIDADE'])]['NOMEESC'])

Escola_menos = escolas[escolas['CODESC'].isin(enem[cod_ent]['CODIGO DA ENTIDADE'])]['NOMEESC']

# Escola_menos.head()
print('TEOTONIO ALVES PEREIRA: ', Escola_menos.isin(['TEOTONIO ALVES PEREIRA']).sum())
print('THAMARA CORREA DE MATOS: ',Escola_menos.isin(['THAMARA CORREA DE MATOS']).sum())
print('BRASILIO FLORES DE AZEVEDO: ',Escola_menos.isin(['BRASILIO FLORES DE AZEVEDO']).sum())
print('OSWALDO SAMMARTINO: ', Escola_menos.isin(['OSWALDO SAMMARTINO']).sum())

TEOTONIO ALVES PEREIRA:  1
THAMARA CORREA DE MATOS:  0
BRASILIO FLORES DE AZEVEDO:  0
OSWALDO SAMMARTINO:  0

### Uma das escolas com o menor número de participantes é:
## TEOTONIO ALVES PEREIRA