# <font color="blue"> MBA em Ciência de Dados</font>
# <font color="blue">Programação para Ciência de Dados</font>

## <font color="blue">Avaliação Final</font>
**Material Produzido por Luis Gustavo Nonato**<br>
**Cemeai - ICMC/USP São Carlos**

A avaliação vale 10 pontos. As questões de 1 a 4, caso respondidas da forma correta, já totalizam 10 pontos. A última questão é um bônus e se respondida corretamente pode ajudar na nota final, ou seja, caso tenha respondido incorretamente uma das questões de 1 a 4, mas tenha acertado a questão bônus, ainda poderá atingir 10 pontos.

<font color='red'>**ATENÇÃO:** Quando terminar o exame, você deve fazer um "upload" do notebook no _moodle_</font>.

Para responder as questões abaixo será necessário fazer uso do arquivo <font style="font-family: monaco">covid.csv"</font> disponível para download no _moodle_. As colunas do conjunto de dados fornecem informações sobre:
- **'Country/Region'**: país onde os casos de COVID19 foram registrados
- **'Lat'** e **'Long'**: latitude e longitude de referência
- **'Date'**: data dos registros
- **'Value'**: quantidade acumulada de casos registrados

In [1]:
import numpy as np
import pandas as pd

### Questão 1 (2 pontos)
Considerando os dados contidos no arquivo <font style="font-family: monaco">covid.csv"</font>:

#### a) (0.5 pontos)
Carregue o arquivo "covid.csv" e armazena em um pandas DataFrame.

In [12]:
covid_df = pd.read_csv('covid.csv', header=0)
#covid_df.head(10)

  Country/Region       Lat      Long        Date                         Value
0  #country+name  #geo+lat  #geo+lon       #date  #affected+infected+value+num
1    afghanistan        33        65  2020-03-18                            22
2    afghanistan        33        65  2020-03-17                            22
3    afghanistan        33        65  2020-03-16                            21
4    Afghanistan        33        65  2020-03-15                            16
5    afghanistan        33        65  2020-03-14                            11
6    afghanistan        33        65  2020-03-13                             7
7    Afghanistan        33        65  2020-03-12                             7
8    afghanistan        33        65  2020-03-11                             7
9    afghanistan        33        65  2020-03-10                             5

#### b) (0.5 pontos)
Elimine a primeira linha do DataFrame, a qual contém a informação:
```python
#adm1+name,#country+name,#geo+lat,#geo+lon,#date,#affected+infected+value+num
```

In [15]:
covid_df.drop(index=0,axis=0,inplace=True)
#covid_df.head(10)

   Country/Region Lat Long        Date Value
1     afghanistan  33   65  2020-03-18    22
2     afghanistan  33   65  2020-03-17    22
3     afghanistan  33   65  2020-03-16    21
4     Afghanistan  33   65  2020-03-15    16
5     afghanistan  33   65  2020-03-14    11
6     afghanistan  33   65  2020-03-13     7
7     Afghanistan  33   65  2020-03-12     7
8     afghanistan  33   65  2020-03-11     7
9     afghanistan  33   65  2020-03-10     5
10    afghanistan  33   65  2020-03-09     4

#### c) (1 ponto)
Verifique qual o tipo de dado da coluna "Value" e converta o tipo para inteiro (<font color='blue'>int</font>).

In [20]:
print(covid_df['Value'].dtype)
###
print(covid_df['Value'].dtype)

object

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

### Questão 2 (2 pontos)
Devido a um erro de armazenamento de inteiros, alguns países apresentam mais de 8 bilhões de casos de COVID19 (valor da coluna "Value" maior ou igual a 8.000.000.000) 

Elimine as linhas onde o número de casos é maior ou igual a 8 bilhões.

### Questão 3 (3 pontos)
Qual registro contém o maior número de infectados? Exiba a data e o país deste registro

### Questão 4 (3 pontos)
Quais são os três países com a maior quantidade acumulada de infectados?

Note que o nome dos países podem aparecer com letras maiúsculas ou minusculas, portanto é necessários fazer uma padronização antes de calcular o gráfico.

**DICA:** groupby + max

### Questão Bonus (2 pontos)
Faça o gráfico do número de contaminados no Brasil e na Itália. Note que o nome dos países podem aparecer com letras maiúsculas ou minusculas, portanto é necessários fazer uma padronização antes de calcular o gráfico.

R: 13 dias